Hi Soumya,

Good work. Now, lets get to next steps. 

1) using the attached file, fill out the tier 1 to tier 4 labels. These are what we will use when we train a multilabel classifier. 

2) Fetch each url and get full text from it using:

rr = requests.get(url, headers = my_headers)

ht_response = rr.text

soup = BeautifulSoup(ht_response,'html.parser')

for script in soup(["script", "style"]):

        script.extract()
        
soup.get_text()

3) the above one might be messy (we dont know); lets use a complementary method of getting fulltext by using boilerplate removal code and save it in next column.

import justext

def get_full_text(html_response):

    paragraphs = justext.justext(html_response, justext.get_stoplist("English"))
    
    good_paragraph = ''
    
    i = 0
    
    for paragraph in paragraphs:

        if not paragraph.is_boilerplate:
        
            good_paragraph = good_paragraph + '  ' + paragraph.text
            
            i = i+1
       
    #print(good_paragraph)
    
    return good_paragraph

Since the data files will be large, instead of emailing it to me, just push it and your other code to your repo on github.

so for the first question, you can insert tier labels by simply
assuming that common columns are name in iab content taxonomy
tiers.csv and
name column in IAB_text.csv

So you can

1. create df from iab_text.csv
2. create empty columns with headers such as df["Tier1] = ''
df["Tier2] = '' etc.

3. df2 from iab content taxonomy tiers.csv

4: iterate through dataframe in IAB_text.csv

for i in range(len(df)):
 filtered_df2 = df2[df.name==df.name.iloc[i]]

df['tier1].iloc[i]=filtered_df2["tier1"].iloc[0]
.
.
(fill out all the tiers)

Coming to another question. Once you have fulltext as per both methods
(load it in separate columns), you can either give it back to me for
training the classifier or alternatively, you can take a crack
yourself. We are going to use multilabel classification.

I helped one of my other interns do this just a few days ago; you can
check it out here
https://github.com/SriyaNelluri/specrom_analytics/blob/main/Week3Mod.ipynb

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/iab_text.csv").fillna('-')
df2 = pd.read_csv("../Data/iab content taxonomy tiers.csv", engine = "python").fillna('-')

In [3]:
df

,Unnamed: 0,Unique ID,Parent,Name,Position,URL,Title,Snippet
0,0,1,-,Automotive,1,https://www.merriam-webster.com/dictionary/aut...,Automotive | Definition of Automotive by …,Automotive definition is - self-propelled. How...
1,1,1,-,Automotive,2,https://nl.wikipedia.org/wiki/Automotive,Automotive - Wikipedia,"Dit is een doorverwijspagina, bedoeld om de ve..."
2,2,1,-,Automotive,3,https://www.dictionary.com/browse/automotive,Automotive | Definition of Automotive at …,"Automotive definition, pertaining to the desig..."
3,3,1,-,Automotive,4,https://en.wikipedia.org/wiki/Automotive_industry,Automotive industry - Wikipedia,The automotive industry comprises a wide range...
4,4,1,-,Automotive,5,https://automotive-online.nl/management/laatst...,Alle nieuwsrubrieken - Automotive Online,Het platform voor het midden en hoger manageme...
...,...,...,...,...,...,...,...,...
11963,1965,1480,1219,City,6,https://www.britannica.com/place/New-York-City,"New York City | Layout, People, Economy, Cultu...","New York City, officially the City of New York..."
11964,1966,1480,1219,City,7,https://www.citytv.com/toronto/,City TV,Watch full episodes for free and see the TV sc...
11965,1967,1480,1219,City,8,https://www.theguardian.com/football/mancheste...,Manchester City | Football | The Guardian,Manchester City hit a record 15-game winning s...
11966,1968,1480,1219,City,9,https://www.hbo.com/sex-and-the-city,Sex and the City - Official Website for the HB...,The official website for Sex and the City on H...
11967,1969,1480,1219,City,10,https://www.thesun.co.uk/sport/football/team/1...,"Man City Latest News, Transfers & Fixtures - T...","Manchester City are an English football team, ..."

In [4]:
df2

,Unique ID,Parent,Name,Tier 1,Tier 2,Tier 3,Tier 4,Unnamed: 7
0,1,-,Automotive,Automotive,-,-,-,-
1,2,1,Auto Body Styles,Automotive,Auto Body Styles,-,-,-
2,3,2,Commercial Trucks,Automotive,Auto Body Styles,Commercial Trucks,-,-
3,4,2,Sedan,Automotive,Auto Body Styles,Sedan,-,-
4,5,2,Station Wagon,Automotive,Auto Body Styles,Station Wagon,-,-
...,...,...,...,...,...,...,...,...
1192,1476,1228,Zambia,Content Source Geo,Country,Zambia,-,-
1193,1477,1228,Zimbabwe,Content Source Geo,Country,Zimbabwe,-,-
1194,1478,1219,Region/State,Content Source Geo,Region/State,-,-,-
1195,1479,1219,Metro,Content Source Geo,Metro,-,-,-
1196,1480,1219,City,Content Source Geo,City,-,-,-

In [5]:
df["Tier 1"] = "-"
df["Tier 2"] = "-"
df["Tier 3"] = "-"
df["Tier 4"] = "-"

In [6]:
df

,Unnamed: 0,Unique ID,Parent,Name,Position,URL,Title,Snippet,Tier 1,Tier 2,Tier 3,Tier 4
0,0,1,-,Automotive,1,https://www.merriam-webster.com/dictionary/aut...,Automotive | Definition of Automotive by …,Automotive definition is - self-propelled. How...,-,-,-,-
1,1,1,-,Automotive,2,https://nl.wikipedia.org/wiki/Automotive,Automotive - Wikipedia,"Dit is een doorverwijspagina, bedoeld om de ve...",-,-,-,-
2,2,1,-,Automotive,3,https://www.dictionary.com/browse/automotive,Automotive | Definition of Automotive at …,"Automotive definition, pertaining to the desig...",-,-,-,-
3,3,1,-,Automotive,4,https://en.wikipedia.org/wiki/Automotive_industry,Automotive industry - Wikipedia,The automotive industry comprises a wide range...,-,-,-,-
4,4,1,-,Automotive,5,https://automotive-online.nl/management/laatst...,Alle nieuwsrubrieken - Automotive Online,Het platform voor het midden en hoger manageme...,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
11963,1965,1480,1219,City,6,https://www.britannica.com/place/New-York-City,"New York City | Layout, People, Economy, Cultu...","New York City, officially the City of New York...",-,-,-,-
11964,1966,1480,1219,City,7,https://www.citytv.com/toronto/,City TV,Watch full episodes for free and see the TV sc...,-,-,-,-
11965,1967,1480,1219,City,8,https://www.theguardian.com/football/mancheste...,Manchester City | Football | The Guardian,Manchester City hit a record 15-game winning s...,-,-,-,-
11966,1968,1480,1219,City,9,https://www.hbo.com/sex-and-the-city,Sex and the City - Official Website for the HB...,The official website for Sex and the City on H...,-,-,-,-
11967,1969,1480,1219,City,10,https://www.thesun.co.uk/sport/football/team/1...,"Man City Latest News, Transfers & Fixtures - T...","Manchester City are an English football team, ...",-,-,-,-

In [7]:
for i in range(len(df)):
    filtered_df2 = df2[df2.Name == df.Name.iloc[i]]
    df['Tier 1'].iloc[i] = filtered_df2["Tier 1"].iloc[0]
    df['Tier 2'].iloc[i] = filtered_df2["Tier 2"].iloc[0]
    df['Tier 3'].iloc[i] = filtered_df2["Tier 3"].iloc[0]
    df['Tier 4'].iloc[i] = filtered_df2["Tier 4"].iloc[0]

C:\Users\ACER\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
df["Tier 1"].value_counts(), df2["Tier 1"].value_counts()

(Content Source Geo            2610
 Content Language              1860
 Business and Finance           710
 Sports                         690
 Technology & Computing         448
 Style & Fashion                440
 Music and Audio                410
 Automotive                     410
 Medical Health                 380
 Events and Attractions         360
 Hobbies & Interests            350
 Personal Finance               310
 Travel                         270
 Video Gaming                   190
 Education                      180
 Healthy Living                 160
 Family and Relationships       150
 Movies                         140
 Food & Drink                   130
 Television                     130
 Home & Garden                  120
 News and Politics              120
 Real Estate                    120
 Content Type                   120
 Religion & Spirituality        110
 Sensitive Topics               110
 Shopping                       100
 Pets                           100
 Books and Literature           100
 Content Channel                 90
 Science                         90
 Fine Art                        90
 Pop Culture                     90
 Careers                         90
 Content Media Format            80
 Content Source                  40
 Brand Suitability and Risk      40
 -                               30
 Name: Tier 1, dtype: int64,
 Content Source Geo            262
 Content Language              185
 Business and Finance           71
 Sports                         69
 Technology & Computing         44
 Style & Fashion                44
 Automotive                     41
 Music and Audio                41
 Medical Health                 38
 Events and Attractions         36
 Hobbies & Interests            35
 Personal Finance               31
 Travel                         27
 Video Gaming                   19
 Education                      18
 Healthy Living                 16
 Family and Relationships       15
 Movies                         14
 Television                     13
 Food & Drink                   13
 Content Type                   12
 Real Estate                    12
 Home & Garden                  12
 News and Politics              12
 Religion & Spirituality        11
 Sensitive Topics               11
 Pets                           10
 Books and Literature           10
 Shopping                       10
 Content Channel                10
 Pop Culture                     9
 Science                         9
 Fine Art                        9
 Careers                         9
 Content Media Format            8
 Brand Suitability and Risk      4
 Content Source                  4
 -                               3
 Name: Tier 1, dtype: int64)

In [9]:
df["Tier 2"].value_counts(), df2["Tier 2"].value_counts()

(Country                           2480
 -                                  530
 Computing                          338
 Industries                         330
 Diseases and Conditions            320
                                   ...
 Children's TV                       10
 Softball                            10
 Real Estate Buying and Selling      10
 Scooters                            10
 Darts                               10
 Name: Tier 2, Length: 560, dtype: int64,
 Country                    250
 -                           53
 Computing                   33
 Industries                  33
 Diseases and Conditions     32
                           ...
 Gymnastics                   1
 Volapuk                      1
 Kyrgyz                       1
 Arabic                       1
 Slovak                       1
 Name: Tier 2, Length: 561, dtype: int64)

In [10]:
df["Tier 3"].value_counts(), df2["Tier 3"].value_counts()

(-                                     6130
 Computer Software and Applications     140
 Internet                               118
 Business Banking & Finance              90
 Men's Clothing                          70
                                       ...
 Libya                                   10
 Zambia                                  10
 Parenting Teens                         10
 Biotech and Biomedical Industry         10
 Data Storage and Warehousing            10
 Name: Tier 3, Length: 522, dtype: int64,
 -                                                 613
 Computer Software and Applications                 14
 Internet                                           11
 Business Banking & Finance                          9
 Men's Clothing                                      7
                                                  ...
 Internet Service Providers                          1
 Mechanical and Industrial Engineering Industry      1
 Hungary                                             1
 Sint Maarten                                        1
 Data Storage and Warehousing                        1
 Name: Tier 3, Length: 523, dtype: int64)

In [11]:
df["Tier 4"].value_counts(), df2["Tier 4"].value_counts()

(-                           11360
 Email                          20
 Graphics Software              10
 Holistic Health                10
 Mergers and Acquisitions       10
                             ...
 Men's Outerwear                10
 Herbs and Supplements          10
 Venture Capital                10
 Shareware and Freeware         10
 Search                          8
 Name: Tier 4, Length: 61, dtype: int64,
 -                                       1137
 Web Design and HTML                        1
 Graphics Software                          1
 Debt Factoring & Invoice Discounting       1
 Antivirus Software                         1
                                         ...
 Mergers and Acquisitions                   1
 Hormonal Disorders                         1
 Men's Sportswear                           1
 Men's Outerwear                            1
 Social Networking                          1
 Name: Tier 4, Length: 61, dtype: int64)

In [12]:
df[(df["Tier 1"] != "-") & (df["Tier 2"] != "-") & (df["Tier 3"] != "-") & (df["Tier 4"] != "-")]

,Unnamed: 0,Unique ID,Parent,Name,Position,URL,Title,Snippet,Tier 1,Tier 2,Tier 3,Tier 4
630,630,64,63,Angel Investment,1,https://smartasset.com/investing/what-is-an-an...,What Is an Angel Investor? | Pros and Cons - S...,· Angel Investor Defined. An angel investor i...,Business and Finance,Business,Business Banking & Finance,Angel Investment
631,631,64,63,Angel Investment,2,https://efinancemanagement.com/sources-of-fina...,"Who are Angel Investors? | Importance, Advanta...",An angel investor is typically an individual o...,Business and Finance,Business,Business Banking & Finance,Angel Investment
632,632,64,63,Angel Investment,3,https://www.investmentnetwork.in/angel-investment,Angel Investment – Looking For Investment in I...,Angel Investment. India is one of the fastest ...,Business and Finance,Business,Business Banking & Finance,Angel Investment
633,633,64,63,Angel Investment,4,https://digest.myhq.in/active-angel-investors-...,19 Most Active Angel Investors In India For St...,How does one get angel investment in India? A....,Business and Finance,Business,Business Banking & Finance,Angel Investment
634,634,64,63,Angel Investment,5,https://www.forbes.com/sites/allbusiness/2020/...,What Angel Investors Want To Know Before Inves...,· Angel investors can be a great source of ca...,Business and Finance,Business,Business Banking & Finance,Angel Investment
...,...,...,...,...,...,...,...,...,...,...,...,...
7183,1183,1002,1000,Email,6,https://www.zoho.com/mail/login.html,Zoho Mail Login - Sign in to your Zoho Mail ac...,"""Finally gained control of my Inbox with @zoho...",Technology & Computing,Computing,Internet,Email
7184,1184,1002,1000,Email,7,https://www.samsung.com/in/support/email/,Email Support - General and Technical Support ...,Get alert when this item is back in stock and ...,Technology & Computing,Computing,Internet,Email
7185,1185,1002,1000,Email,8,https://sso.secureserver.net/login?app=email&r...,Sign In,Alternate numbers. Webmail Sign in,Technology & Computing,Computing,Internet,Email
7186,1186,1002,1000,Email,9,https://www.bt.com/email,Email Login Page - BT,You have had too many unsuccessful attempts to...,Technology & Computing,Computing,Internet,Email
7187,1187,1002,1000,Email,10,https://www.zoho.com/login.html,Sign in to your Zoho Account,Run your entire business with Zoho's suite of ...,Technology & Computing,Computing,Internet,Email

In [13]:
df

,Unnamed: 0,Unique ID,Parent,Name,Position,URL,Title,Snippet,Tier 1,Tier 2,Tier 3,Tier 4
0,0,1,-,Automotive,1,https://www.merriam-webster.com/dictionary/aut...,Automotive | Definition of Automotive by …,Automotive definition is - self-propelled. How...,Automotive,-,-,-
1,1,1,-,Automotive,2,https://nl.wikipedia.org/wiki/Automotive,Automotive - Wikipedia,"Dit is een doorverwijspagina, bedoeld om de ve...",Automotive,-,-,-
2,2,1,-,Automotive,3,https://www.dictionary.com/browse/automotive,Automotive | Definition of Automotive at …,"Automotive definition, pertaining to the desig...",Automotive,-,-,-
3,3,1,-,Automotive,4,https://en.wikipedia.org/wiki/Automotive_industry,Automotive industry - Wikipedia,The automotive industry comprises a wide range...,Automotive,-,-,-
4,4,1,-,Automotive,5,https://automotive-online.nl/management/laatst...,Alle nieuwsrubrieken - Automotive Online,Het platform voor het midden en hoger manageme...,Automotive,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
11963,1965,1480,1219,City,6,https://www.britannica.com/place/New-York-City,"New York City | Layout, People, Economy, Cultu...","New York City, officially the City of New York...",Content Source Geo,City,-,-
11964,1966,1480,1219,City,7,https://www.citytv.com/toronto/,City TV,Watch full episodes for free and see the TV sc...,Content Source Geo,City,-,-
11965,1967,1480,1219,City,8,https://www.theguardian.com/football/mancheste...,Manchester City | Football | The Guardian,Manchester City hit a record 15-game winning s...,Content Source Geo,City,-,-
11966,1968,1480,1219,City,9,https://www.hbo.com/sex-and-the-city,Sex and the City - Official Website for the HB...,The official website for Sex and the City on H...,Content Source Geo,City,-,-
11967,1969,1480,1219,City,10,https://www.thesun.co.uk/sport/football/team/1...,"Man City Latest News, Transfers & Fixtures - T...","Manchester City are an English football team, ...",Content Source Geo,City,-,-

In [14]:
df.to_csv("../Data/IAB_tiers.csv")